{% extends "layout.html" %}
{% block title %}
    Drawing Register
{% endblock %}
{% block content %}
<table class="table table-striped" contenteditable="true">
    <thead>
    <tr>
        <th scope="col">Sheet Number</th>
        <th scope="col">Drawing Title</th>
        <th scope="col">Current Revision</th>
        <th scope="col">First Revision</th>
        <th scope="col">Second Revision</th>
        <th scope="col">Third Revision</th>
        <th scope="col">Fourth Revision</th>
    </tr>
    </thead>
    <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.Drg_No}}</td>
                <td>{{ obj.Drawing_Title }}</td>
                <td>{{ obj.ARUP_BDR_ISSUE}}</td>
                <td>{{ obj.Rev1}}</td>
                <td>{{ obj.Rev2}}</td>
                <td>{{ obj.Rev3}}</td>
                <td>{{ obj.Rev4}}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>
    
        {% endblock %}