{% extends "layout.html" %}
{% block title %}
Structural Framings Instances
{% endblock %}
{% block content %}

<table class="table table-sm table-hover table-responsive-sm" contenteditable="true">
        <thead>
        <tr>
        {% for h in tableHeaders %}
      <th scope="col">{{h}}</th>
      {% endfor %}
    </tr>
    </thead>
<tbody>
    {% for items in tableValues %}
    <tr>
        {% for i in items %}
            <td>{{i}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}