
  {{title}}
  <table class="table table-striped table-hover" contenteditable="true">
      <thead>  
        <tr>
          {% for row in rows %}
          <th scope="col">{{row}}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for i in range(0,keysCount) %}
            <tr>    
                {% for w in rows.values() %}
                <td>{{w[i]}}</td>
                {% endfor %}
          </tr>
            {% endfor %}
          </tbody>
  </table>

